.game-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bluesnakehead {
    background: url("/static/images/bluesnakehead.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.greensnakehead {
    background: url("/static/images/greensnakehead.png");
    background-repeat: no-repeat;
    background-size: contain;

}

.bluesnakebody {
    background-image: url("/static/images/bluesnakebody.png");
    background-repeat: no-repeat;
    background-size: contain;

}

.greensnakebody {
    background-image: url("/static/images/greensnakebody.png");
    background-repeat: no-repeat;
    background-size: contain;

}

.clear {
    background-color: transparent;
    padding: 12px;
    border: black 1px solid;
}

table {
    position: fixed;
    horiz-align: center;
    padding-top: 60px;
    margin: 0 auto;
    display: block;
    border-spacing: 0
}

td {
    padding: 12px;
    border: black 1px solid;
}

.layout-body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.brand-logo > img {
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

/* Game modes */
.bg-card-user {
    background: rgba(0, 77, 64, .5);
    padding: 15px 0;
}

.truncate > img {
    width: 120px;
}

.truncate2 > img {
    width: 190px;
}

footer .foot-text {
    margin-top: 10px;
    padding: 12px;
    border: black 1px solid;
}

#alertbox {
    margin-top: 5px;
    margin-bottom: 20px;
}


#countdown {
    position: fixed;
    top: 30%;
    left: 46%;
}